name: OSX build and test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

defaults:
  run:
    shell: bash -l -eo pipefail {0}

jobs:
  osx_build_from_conda_forge:
    runs-on: macos-latest
    strategy:
      matrix:
        build_type: [Release, Debug]
        build_shared: [ON, OFF]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Select XCode version
        run: |
          sudo xcode-select --switch /Applications/Xcode_16.4.app/Contents/Developer
          xcodebuild -version

      - name: Create build environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ./environment-dev.yml
          environment-name: build_env
          cache-environment: true

      - name: Configure using cmake
        run: |
          cmake -G Ninja \
          -Bbuild \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
          -DCMAKE_PREFIX_PATH=$CONDA_PREFIX \
          -DSPARROW_IPC_BUILD_SHARED=${{ matrix.build_shared }} \
          -DSPARROW_IPC_BUILD_TESTS=ON \
          -DSPARROW_IPC_BUILD_EXAMPLES=ON

      - name: Build sparrow-ipc
        working-directory: build
        run: cmake --build . --target sparrow-ipc

      - name: Build tests
        working-directory: build
        run: cmake --build . --target test_sparrow_ipc_lib

      - name: Run tests
        working-directory: build
        run: cmake --build . --target run_tests_with_junit_report

      - name: Build example
        working-directory: build
        run: cmake --build . --target write_and_read_streams

      - name: Run example
        working-directory: build
        run: cmake --build . --target run_example

      - name: Build test_integration_tools
        working-directory: build
        run: cmake --build . --target test_integration_tools

      - name: Run test_integration_tools
        working-directory: build
        run: cmake --build . --target run_test_integration_tools

      - name: Install
        working-directory: build
        run: cmake --install .

  osx_build_fetch_from_source:
    runs-on: macos-latest
    strategy:
      matrix:
        build_type: [Release, Debug]
        build_shared: [ON, OFF]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Select XCode version
        run: |
          sudo xcode-select --switch /Applications/Xcode_16.4.app/Contents/Developer
          xcodebuild -version

      - name: Configure using cmake
        run: |
          cmake -G Ninja \
          -Bbuild \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DSPARROW_IPC_BUILD_SHARED=${{ matrix.build_shared }} \
          -DSPARROW_IPC_BUILD_TESTS=ON \
          -DSPARROW_IPC_BUILD_EXAMPLES=ON \
          -DFETCH_DEPENDENCIES_WITH_CMAKE=MISSING

      - name: Build sparrow-ipc
        working-directory: build
        run: cmake --build . --target sparrow-ipc

      - name: Build tests
        working-directory: build
        run: cmake --build . --target test_sparrow_ipc_lib

      - name: Run tests
        working-directory: build
        run: cmake --build . --target run_tests_with_junit_report

      - name: Build example
        working-directory: build
        run: cmake --build . --target write_and_read_streams

      - name: Run example
        working-directory: build
        run: cmake --build . --target run_example

      - name: Install
        working-directory: build
        run: sudo cmake --install .
